
    .textAboutUs {
        position: absolute;
        margin-top: -62px;
        width:100%
    }

    
@media (min-width: 768px) {
    .textAboutUs {
        position: absolute;
        margin-top: -128px;
    }
}
@media (min-width: 1024px) {
    .textAboutUs {
        position: absolute;
        margin-top: -183px;
    }
}
